<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>This generates a new scene using layer architecture. It consists of the view, view controller, view model, repository, service, and coordinator.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Coordinator</string>
			<key>Description</key>
			<string>The Coordinator name</string>
			<key>Identifier</key>
			<string>coordinatorName</string>
			<key>Name</key>
			<string>Coordinator Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___View</string>
			<key>Description</key>
			<string>The view name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewModel</string>
			<key>Description</key>
			<string>The ViewModel file name</string>
			<key>Identifier</key>
			<string>viewModelFileName</string>
			<key>Name</key>
			<string>ViewModel File Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Repository</string>
			<key>Description</key>
			<string>The Repository name</string>
			<key>Identifier</key>
			<string>repositoryName</string>
			<key>Name</key>
			<string>Repository Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Service</string>
			<key>Description</key>
			<string>The Service name</string>
			<key>Identifier</key>
			<string>serviceName</string>
			<key>Name</key>
			<string>Service Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Description</key>
			<string>What view controller class to subclass for the new scene</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Identifier</key>
			<string>viewControllerSubclass</string>
			<key>Name</key>
			<string>View Controller Subclass of:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
			</array>
			<key>SortOrder</key>
			<string>2</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>-90</string>
	<key>Summary</key>
	<string>This generates a new scene using layer architecture based on Coordinator, MVVM and Repository.</string>
</dict>
</plist>