<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.coordinatorApplicationBase</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>10.0</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUITests</string>
			<key>Name</key>
			<string>Include UI Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUITestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___UITests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Support/AppDelegate.swift:imports:importCocoa</string>
						<string>Support/AppDelegate.swift:UIApplicationMain</string>
						<string>Support/AppDelegate.swift:implementation(AppDelegate: UIResponder, UIApplicationDelegate)</string>
						<string>Support/AppDelegate.swift:implementation:properties:window</string>
						<string>Support/AppDelegate.swift:implementation:properties:navigator</string>
						<string>Support/AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions(func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?\) -&gt; Bool)</string>
						<string>Support/AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</string>
						<string>Support/AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:return</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Support/AppDelegate.swift:UIApplicationMain</key>
						<string>@UIApplicationMain</string>
						<key>Support/AppDelegate.swift:implementation:properties:window</key>
						<string>var window: UIWindow?</string>
						<key>Support/AppDelegate.swift:implementation:properties:navigator</key>
						<string>var navigator: NavigatorProtocol?</string>
						<key>Support/AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>
window = UIWindow(frame: UIScreen.main.bounds)
window?.backgroundColor = .white
let nav = UINavigationController()
self.navigator = Navigator(nav: nav)

let coordinator = AppCoordinator(navigator: self.navigator)
coordinator.start()

window?.rootViewController = nav
window?.makeKeyAndVisible()
</string>
						<key>Support/AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:return</key>
						<string>return true</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Support/AppDelegate.swift</string>
		<string>Info.plist:iPhone</string>
		<string>Info.plist:UIRequiredDeviceCapabilities:base</string>
		<string>Info.plist:Resources/LaunchScreen</string>
		<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
		<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
		<string>Resources/Assets.xcassets</string>
		<string>Resources/Base.lproj/LaunchScreen.storyboard</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Support/AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<string>Support</string>
			<key>Path</key>
			<string>Support/AppDelegate.swift</string>
		</dict>
		<key>Info.plist:iPhone</key>
		<string>&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;
</string>
		<key>Info.plist:UIRequiredDeviceCapabilities</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:UIRequiredDeviceCapabilities:base</key>
		<string>&lt;string&gt;armv7&lt;/string&gt;</string>
		<key>Info.plist:statusBarTintForNavBar</key>
		<string>&lt;key&gt;UIStatusBarTintParameters&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UINavigationBar&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;Style&lt;/key&gt;
        &lt;string&gt;UIBarStyleDefault&lt;/string&gt;
        &lt;key&gt;Translucent&lt;/key&gt;
        &lt;false/&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
</string>
		<key>Info.plist:Resources/LaunchScreen</key>
		<string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;
&lt;string&gt;LaunchScreen&lt;/string&gt;
</string>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Images.xcassets</string>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Type</key>
					<string>appicon</string>
					<key>Name</key>
					<string>AppIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
					</dict>
				</dict>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Resources/Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/LaunchScreen.storyboard</string>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
	</dict>
</dict>
</plist>
